$font-light-blue:#9796f0;
body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  @extend %ui-grad-light;
}

//gradients 
%ui-grad-bright{
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
%ui-grad-light{
  background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  border-radius: 20px;
  box-shadow: 0px 0px 20px #1a181d57;

  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent !important;
  }
  .link-clr{
    color: $font-light-blue;
  }
  input[type="radio"] {
    cursor: pointer;
  }
  input.in-box {
    @extend %ui-grad-light;
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;

    &:focus {
      box-shadow: 0 0 10px rgb(58, 55, 55);
    }
    
  }
  
  .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
  }
  button {
    position: absolute;
    top: 53px;
    right: 52px;
    height: 50px;
    width: 110px;
    background: #fff;
    color:  #9796f0; 
  }
}
